.exercises {
  background-color: rgb(0, 0, 0);
}
.exercises-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px; 
}
.MuiPagination-root {
  display: flex;
  justify-content: center;
  background-color: red;
  padding-top: 5px;
  padding-bottom: 5px;
}
.showing {
  margin: 20px 0 20px 20px;
  font-size: xx-large;
  color: rgb(165, 170, 213);
}