.container{
    margin-top: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}
.right{
    background-color: black;
    justify-content: flex-end;
}
.quote{
    font-family: 'Catamaran', sans-serif;
    font-size: 40px;
    background-color: black;
    text-align: center;
    font-weight: bolder;
    line-height: 45px;
    color: rgb(182, 182, 182);
}
.takeit{
    font-weight: bolder;
    color: #f5df3c;
}